:root {
  /* Color Theme Swatches in RGBA */
  --color-hotred: rgba(242, 24, 4, 1);
  --color-lightred: rgba(242, 111, 99, 1);
  --color-red: rgba(165, 3, 3, 1);
  --color-lightgrey: rgba(242, 242, 242, 1);
  --color-grey: rgba(165, 165, 165, 1);
}

/* font-family: 'Antic Didone', serif; */

/* font-weight - 100/200
font-family: 'Fraunces', serif; */

/* Regular 400Medium 500Semi-bold 600Semi-bold 600 italicBold 700Bold 700 italicBlack 900
font-family: 'Montserrat', sans-serif; */

html {
  margin: 0;
  padding: 0%;
}

body {
  color: var(--color-hotred);
  background-color: var(--color-lightgrey);
  margin: 0;
  padding: 0%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: grid;
  align-items: center;
  z-index: 10;
  background: var(--color-lightgrey);
}

nav {
  margin: 1%;
  padding: 0%;
  justify-self: center;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  text-transform: uppercase;
}

nav a {
  justify-self: center;
  align-self: center;
}

main {
  position: relative;
  top: 7rem;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vw;
}

ul {
  display: flex;
  margin: 0%;
  padding: 0%;
}

li {
  list-style: none;
}

.logo {
  font-family: "Antic Didone", serif;
  font-family: "Fraunces", serif;
  font-weight: 200;
  font-size: 5rem;
  text-transform: uppercase;
}

nav ul {
  justify-content: center;
}
.seasons {
  grid-column: 1 /-1;
}
.seasons li {
  list-style: none;
  text-align: center;
  margin-right: 2vw;
}

a:link,
a:visited {
  color: var(--color-hotred);
}

a:hover {
  color: var(--color-lightred);
  text-decoration: underline;
}

a:active {
  color: var(--color-hotred);
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

footer {
  position: relative;
  margin: 0;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7rem;
  background: var(--color-red);
}
footer ul {
  align-self: center;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
}

footer li {
  margin-left: 3vw;
  color: var(--color-lightgrey);
}

.headerImg {
  height: 7vw;
}

.headerImg h1 {
  margin: 1vw;
  padding: 5vw;
  padding-bottom: 0%;
}
.headerImg p {
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 5vw;
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.categoryList h1 {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-style: italic;
  color: var(--color-lightred);
}
.category a {
  font-size: 2rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

.category a:link,
.category a:visited {
  color: var(--color-hotred);
}

.category a:hover {
  color: var(--color-lightred);
  text-decoration: underline;
}

.itemList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3vw;
  margin: 1vw;
  padding-bottom: 3vw;
}

.item {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  text-transform: uppercase;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.item:hover {
  border: var(--color-hotred) 3px solid;
}

.item img {
  display: block;
  max-width: 100%;
  height: auto;
  order: -1;
  position: relative;
}
.item h1 {
  line-height: 0;
  font-size: 0.9rem;
}
.item p {
  line-height: 1.2rem;
  margin: 0;
  font-size: 0.8rem;
}

.item .percent {
  align-self: flex-end;
  font-size: 2.5rem;
  margin: 1rem;
  position: absolute;
  padding: 1rem;
  background-color: var(--color-lightgrey);
  font-family: "Fraunces", serif;
}

.productInfo .percent {
  align-self: flex-end;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

.itemList article.sale .newPrice,
.product .productInfo.sale .newPrice {
  display: flex;
  gap: 2rem;
}

.itemList article.sale .newPrice .price,
.product .productInfo.sale .newPrice .price {
  text-decoration: line-through;
}

.itemList article.soldOut,
.product .productInfo.soldOut {
  opacity: 0.6;
}

.itemList article.soldOut .newPrice,
.product .productInfo.soldOut .newPrice,
.itemList article .percent,
.itemList article .discount,
.itemList article .soldOutMark,
.product .productInfo .percent,
.product .productInfo .discount,
.product .productInfo .soldOutMark {
  display: none;
}
.itemList article.sale .percent,
.itemList article.sale .discount,
.itemList article.soldOut .soldOutMark,
.product .productInfo.sale .percent,
.product .productInfo.sale .discount,
.product .productInfo.soldOut .soldOutMark {
  display: initial;
}

.product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3vw;
  padding-bottom: 3vw;
  padding-top: 7rem;
}

.product img {
  max-width: 100%;
  order: -1;
  position: relative;
}

.productInfo {
  align-self: center;
  justify-self: center;
  line-height: 1.5rem;
  text-transform: uppercase;
}

button,
select {
  padding: 0.5rem 1rem;
  margin: 1em 0.1em 0.1em 0;
  border: 0.16em solid var(--color-lightgrey);
  background-color: var(--color-lightgrey);
  border-radius: 0.1em;
  text-decoration: none;
  color: var(--color-hotred);
  text-align: center;
  transition: all 0.2s;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-style: italic;
}

button:hover,
select:hover {
  border-color: var(--color-hotred);
}

.purchase {
  display: flex;
  flex-direction: column;
  font-family: "Fraunces", serif;
}

.description {
  margin-top: 3rem;
  padding-bottom: 3rem;
}
